@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Sunflower:wght@300&display=swap');

*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;font-family: 'Sigmar One', cursive;}

.pa{font-family: 'Sunflower', sans-serif;}
.sa{font-family: 'Sigmar One', cursive;}


#header{position: fixed; width: 100%; height: 80px;z-index: 3;top: 0;left: 0;transition: background-color 0.5s;}
#header .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 0 10px; display: flex;justify-content: space-between;}
#header .wrap .logo{}
#header .wrap .logo a{display: block;}
#header .wrap .logo a img{display: block; height: 87px;}
#header.sticky{background-color: rgba(0,0,0,0.5);}

#header nav{text-align: center;}
#header nav ul{display: flex;}
#header nav ul li{margin: 0 10px;}
#header nav ul li a{display: block; font-size: 20px; line-height: 126px; color:#8b8585; position: relative; text-transform: uppercase;transition: color 0.5s;}
#header.sticky a{color: #fff;}
header.sticky .wrap .logo a{color:#fff;}


#res_menu{display: none;}
#res_menu img{width: 40px;height: 40px;}
.top_btn{position: fixed; right:30px; bottom:30px; cursor: pointer; z-index: 1;display: flex;align-items: center;}
.top_btn img{width: 40px;height: 40px;position: relative;}
.top_btn i{width: 40px;height: 40px; color: red;animation: moveH 5s infinite linear;transform-origin: top bottom;position: absolute;top: -25px;
  left: 17px;}

@keyframes moveH {
  0%{transform: rotate(48deg);}
  25%{transform: rotate(96deg);}
  50%{transform: rotate(48deg);}
  75%{transform: rotate(30deg);}
  100%{transform: rotate(48deg);}
  125%{transform: rotate(80deg);}
}