@charset "utf-8";

.sa{font-family: 'Prata', serif;}

#men{width: 100%;}
#men .wrap{width: 1200px; margin: 0 auto;}
#men .title{}
#men .title{font-size: 30px;color: #323232;}
#men .cont{display: flex;flex-wrap: wrap;}
#men .cont .cont_box{width: 25%;padding: 0 10px 20px;margin: 0 auto;}
#men .cont .cont_box .cont_img{width: 100%;position: relative;height: 375px;background-position: 50% 50%;background-size: cover;}
/*#women .cont .cont_box .cont_img img{width: 100%;}*/
#men .cont .cont_box:nth-child(1) .cont_img{background-image: url(../img/posrtfolio-10a.jpg);}
#men .cont .cont_box:nth-child(2) .cont_img{background-image: url(../img/portfolio-9a.jpg);}
#men .cont .cont_box:nth-child(3) .cont_img{background-image: url(../img/portfolio-8a.jpg);}
#men .cont .cont_box:nth-child(4) .cont_img{background-image: url(../img/portfolio-7a.jpg);}
#men .cont .cont_box:nth-child(5) .cont_img{background-image: url(../img/portfolio-6a.jpg);}
#men .cont .cont_box:nth-child(6) .cont_img{background-image: url(../img/portfolio-5a.jpg);}
#men .cont .cont_box:nth-child(7) .cont_img{background-image: url(../img/portfolio-4a.jpg);}
#men .cont .cont_box:nth-child(8) .cont_img{background-image: url(../img/portfolio-3a.jpg);}
#men .cont .cont_box:nth-child(9) .cont_img{background-image: url(../img/portfolio-2a.jpg);}
#men .cont .cont_box:nth-child(10) .cont_img{background-image: url(../img/portfolio-1a.jpg);}
#men .cont .cont_box .dark{width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.78);position: absolute;top: 0;left: 0;display: flex;justify-content: center;align-items: center;opacity: 0;transition: opacity 0.5s;}
#men .cont .cont_box .dark span{font-size: 30px;color: #333;}
#men .cont .cont_box .cont_img:hover .dark{opacity: 1;}


.top_btn{position: fixed; right:30px; bottom:30px; cursor: pointer; z-index: 1;}
.top_btn a{font-size: 50px; color:#ff6600;}